# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Node
node_modules/

# Azure Functions
.funcignore
local.settings.json

# uv
.uv

# macOS
.DS_Store
